@model SharedWorkplace.Models.Desk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeskName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Devices)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.DeskName)
                </td>
                <td>
                    @foreach (var dev in Model.Devices)
                    {
                        <pr>@dev.DeviceName</pr>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="UserDesk">Back to List</a>
</div>
