@model ReservationViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    @if (ViewBag.Date.Count == 0)
    {
        <h1 style="text-align:center">This table cannot be reserved</h1>
    }
    else
    {
        <div class="col-md-4" style="margin: 12px auto; padding-left: 20px;">
            <form asp-action="Reservation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="float:left">
                    @foreach (var device in Model.Devices)
                    {
                        <div>
                            <label asp-action asp-for="Devices" class="control-label">
                                @device.DeviceName
                                <input name="selectedItems" value="@device.Id" type="checkbox" />
                            </label><br>
                        </div>
                    }
                </div>
                @if (ViewBag.Date.Count != 0)
                {
                    <div style="float:right ">

                        <select asp-for="StartTime">
                            @foreach (var item in ViewBag.Date)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                }
                <div class="form-group" style="clear:both;text-align:center">
                    <input type="hidden" value="@ViewBag.Id" name="deskId" />
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }

</div>

<div>
    <a asp-action="UserDesk">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
