@model IEnumerable<SharedWorkplace.Models.Desk>

@{
    ViewData["Title"] = "UserDesk";
}
<h1>DeskList</h1>
@if (User.IsInRole("admin"))
{
    <ol class="list-unstyled ">
        <li class="list-inline-item">
            <p>
                <a asp-action="CreateDesk">Create New Desk</a>
            </p>
        </li>
        <li class="list-inline-item">
            <p>
                <a asp-action="CreateDevice" class="link-d">Details Device</a>
            </p>
        </li>
    </ol>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeskName)
                </td>
                <td>
                    @foreach (var mod in item.Devices)
                    {
                        <p>@Html.DisplayFor(modelItem => mod.DeviceName)</p>
                    }
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="EditDesk" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="DeleteDesk" asp-route-id="@item.Id">Delete</a>
                    }
                <a asp-action="Reservation" asp-route-id="@item.Id">Reservation</a>
                </td>
            </tr>
        }
    </tbody>
</table>
