@model IEnumerable<SharedWorkplace.Models.Desk>

@{
    ViewData["Title"] = "UserDesk";
}
<h1>DeskList</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="CreateDesk" asp-me>Create New Desk</a>
    </p>
    <p>
        <a asp-action="CreateDevice" asp-me>Details Device</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeskName)
                </td>
                <td>
                    @foreach (var mod in item.Devices)
                    {
                        <p>@Html.DisplayFor(modelItem => mod.DeviceName)</p>
                    }
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="EditDesk" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="DeleteDesk" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
